body {background-image: linear-gradient(to bottom, #000000 40%, #a11c0f);}
div {text-align: center; color: #B51000; }
h1 { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 60;}
